@model string[]

<h2>Active rooms</h2>
@using(Html.BeginForm("index", "room", FormMethod.Get)){
@Html.TextBox("room")
<input type="submit" value="Or creata a new room"/>
}
<ul>
    @foreach (var room in Model)
    {
        <li>@Html.ActionLink(room,"index","room",new {room=room},null)</li>
    }
</ul>